*data.csv
*.s
/src/parse_data/target
/src/kernel/*.cmd
/src/kernel/gen_tasks
/src/kernel/*.d
/src/kernel/*.a
/src/kernel/*.o
/src/kernel/*.ko
/src/kernel/*.symvers
/src/kernel/*.order
/src/kernel/*.mod
/src/kernel/*.mod.c